# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore environment variable files
.env

# Ignore MacOS system files
.DS_Store

# Ignore large binary files not tracked by Git LFS
*.dll
*.lib

